/*

source: "https://cz.pinterest.com/pin/7881368093443126/"

1. Top color (light brown/tan): #BC8B6A

2. Second color (brick red): #A22C22

3. Third color (very dark brown/black): #1B0E0B

4. Fourth color (olive green): #717600

5. Bottom color (teal blue-green): #356568

*/



#root {
  float: left;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #717600;
  background-size: cover;
}

/*h1 {
  font-family: "Honk", system-ui;
  font-weight: 400;
}

.lever {
  rotate: 90deg;
  scale: 1.5;
  -webkit-appearance: none;
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 180px;
  outline: none;
}

.lever::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #ff0000;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

#lever {
  float: left;
  height: 300px;
  width: 20px;
  align-content: center;
}

.slot {
  float: left;
  margin: 0 10px;
  height: 300px;
  width: 100px;
  border: 1px solid black;
  background: rgba(255,255,255,0);
  position: relative;
  overflow: hidden;
}

.slot-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.SlotEmoji {
  width: 100px;
  height: 100px;
  margin: 0;
  transition: opacity 0.2s ease-in-out;
}

.slotblockup, .slotblockdown {
  z-index: -1;
  width: 370px;
  height: 500px;
  position: absolute;
  background-color: #fff;
}

.slotblockup { top: -500px; }
.slotblockdown { top: 202px; }

.Spinning .slot-inner {
  animation: spinReel 3s ease-in-out infinite;
}

.Spinning2 .slot-inner {
  animation: spinReel 3s ease-in-out infinite;
  animation-delay: 400ms;
}

.Spinning3 .slot-inner {
  animation: spinReel 3s ease-in-out infinite;
  animation-delay: 800ms;
}

@keyframes spinReel {
  0% { transform: translateY(0); }
  100% { transform: translateY(3233.3%); }
} */


/* === MENU CSS === */
#menu {
  width: 100%;
  height: fit-content;
  padding: 25px 30px;
  background-color: #BC8B6A;

  display: flex;
  align-items: center;
  gap: 30px;
}

#menu div {
  background-color: #A22C22;
  width: 150px;
  height: 60px;
  align-content: center;
  padding: 5px 10px;
  border: 3px solid #af3e34;
}

#menu div:hover {
  cursor: pointer;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 32px;
  font-weight: 500;
}

#menu a, #menu p {
  color: #FFFFFF;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 32px;
  margin: 0;
}

#menu a:hover {
  color: #FFFFFF
}

.right {
  margin-left: auto;
}

.dropdown-menu {
  margin-left: auto;
  position: relative;
}

.dropdown-content {
  
  z-index: 10;
  display: none;
  position: absolute;
  top: 103.5%;
  width: 103.5%;
  left: -3px;

  background: #A22C22;

  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 10px 15px;
  width: 150px;
  height: 60px;
  align-content: center;
  border: 3px solid #af3e34;
}

.dropdown-content li a {
  font-size: 26px;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

